<div class="row" style="text-align:center;">
    <div class="col-md-12 portfolio-item" style="background-color:white; ">
		<%= image_tag("logo_arduino.png", size: "150x140", alt: "Arduino") %>
		<%= link_to 'Código fuente', "https://github.com/Ligator/PeopleCounter-for-Arduino", target: "_blank" %>
		<br><br>
	</div>
</div>

<br><br>
Si deseas conectartu propio dispositivo que se comunique con esta página, aquí está la documentación necesaria:

<%= GitHub::Markdown.render_gfm(File.read("#{Rails.root}/public/api-doc-sensores.md")).html_safe %>

